* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: rgb(124, 152, 245);
}

.game {
    width: 300px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game__cells {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.game__cell {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: #9885ec;
    border-radius: 5px;
}

.game__cell:hover {
    border: 2px solid black;
}

.game__move-circle {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__move-circle::before {
    content: "";
    width: 80px;
    height: 80px;
    border: solid 2px black;
    border-radius: 50%;
}

.game__move-cross {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__move-cross::before {
    content: "";
    width: 80px;
    height: 2px;
    background: #000;
    transform: rotate(-45deg);
    position: absolute;
}

.game__move-cross::after {
    content: "";
    width: 80px;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
}

.game__btns {
    width: 100%;
    margin: 0 auto;
}

.game__btn {
    border: 1px solid rgb(12, 8, 243);
    background: rgb(252, 240, 240);
    color: #000000;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.game__state {
    color: #FFFFFF;
    font-size: 24px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

